<!DOCTYPE>
<html>
<head>
<script src="vue.js"></script>
<link rel="icon" href="icon.ico">
<link rel="stylesheet" href="styles.css"/>
</head>
<body style="-webkit-app-region: drag;">
<div id="app">
	<div class="slides" v-if="page == 'start' || page == 'story'">
		<transition name="slide">
			<img v-for="(slide, index) in slides" v-if="selected_slide == index" :src="'data/' + slide + '.png'"/>
		</transition>
	</div>
	
	<div class="menu" v-if="page == 'menu'">
		<h2>Меню</h2>
		<ul>
			<li><button @click="to_story()">Новая игра</button></li>
			<li><button @click="exit">На выход</button></li>
		</ul>
	</div>
	
	<div class="difficult" v-if="page == 'difficult'">
		<h2>Выбор сложности</h2>
		<div style="display: flex; flex-direction: row; justify-content: center;">
			<div style="display: flex; flex-direction: column; margin-right: 25px; align-items: center; justify-content: center;">
				<img style="border: 1px solid black; align-self: center;" :src="'data/roman-' + difficult + '.png'"/>
				<div style="text-align: center;">Осталось<br/>очков<br/>[{{ free }} / {{ max_free }}]</div>
				<button class="small" style="background-color: black; color: white;" @click="page = 'computer'">В путь!</button>
			</div>
			<ul style="padding: 0;margin: 0;">
				<li><button :class="{ bordered: difficult == 1 }" @click="difficult = 1; reset()">Новобранец</button></li>
				<li><button :class="{ bordered: difficult == 2 }" @click="difficult = 2; reset()" >Рекрут</button></li>
				<li><button :class="{ bordered: difficult == 3 }" @click="difficult = 3; reset()">Солдат</button></li>
			</ul>
		</div>
		<ul class="stats">
			<li>Убеждение [{{ ubedi }} / 5] <button class="small" @click="if(free && ubedi < 5) { ubedi++; free-- }">увеличить! </button> <p>Искусство убеждать разумными и правдивыми аргументами.</p></li>
			<li>Интеллект [{{ intel }} / 5] <button class="small" @click="if(free && intel < 5) { intel++; free-- }">увеличить! </button> <p>Интеллект показывает вас с лучше стороные по отношению к кандидатам и позволяет вам делать обоснованные выводы.</p></li>
			<li>Коварство [{{ kovar }} / 5] <button class="small" @click="if(free && kovar < 5) { kovar++; free-- }">увеличить! </button> <p>Оперирование несуществующими абстракциями для введения в заблуждение кандидатов, когда разумных доводов уже не осталось.</p></li>
			<li>Выносливость [{{ vinos }} / 5] <button class="small" @click="if(free && vinos < 5) { vinos++; free-- }">увеличить! </button> <p>Сколько вы сможете продержаться пока не лишитесь всех своих сил.</p></li>
			<li>Интуиция [{{ intui }} / 5] <button class="small" @click="if(free && intui < 5) { intui++; free-- }">увеличить! </button> <p>Важнейший навык для определения того, чего не удалось определить рациональными методами.</p></li>
		</ul>
	</div>
	
	<div class="computer" v-if="page == 'computer'">
		<div style="padding: 25px 122px;">
			<h3>Услуги</h3>
			<ul>
				<li>✔ Питание (500 р./сутки)</li>
				<li><span v-if="internet">✔</span><span v-else>✖</span> Интернет <button class="small long" v-if="!internet" @click="internet = true; money -= 1000;">Подкл. (1000 р.+10 р./сут)</button></li>
				<li><span v-if="phone">✔</span><span v-else>✖</span> Телефония <button class="small long" v-if="!phone" @click="phone = true; money -= 500;">Подкл. (500 р.+5 р./сут)</button></li>
			</ul>
			<h3>Сбор резюме</h3>
			<ul>
				<li>✔ Центр занятости</li>
				<li><span v-if="databases">✔</span><span v-else>✖</span> Закрытые базы данных (треб. Интернет) <button  v-if="!databases" class="small long" @click="if(internet) databases = true; money -= 2000;">Купить (2000 р.)</button></li>
				<li><span v-if="social">✔</span><span v-else>✖</span> Соц.сети (треб. Интернет)<button  v-if="!social" class="small long" @click="if(internet) social = true">Завести (5 р./сут)</button></li>
				<li><span v-if="direct_phone">✔</span><span v-else>✖</span> Прямые звонки (треб. Телефон)<button  v-if="!direct_phone" class="small long" @click="if(phone) direct_phone = true">Использовать (10 р./сут)</button></li>
				<li><span v-if="events">✔</span><span v-else>✖</span> Посещение мероприятий (треб. Телефон) <button  v-if="!events" class="small long" @click="if(phone) events = true">Посещать (100 р./сут)</button></li>
			</ul>
		</div>
		<div style="position: absolute; top: 0; left: 434px;">
			<h3 style="margin-top: 37px; font-size: 14px;">Поиск работников для<br/>{{ company.name }}</h3>
			<h4>Основная сфера: {{ types[company.types[0]][0] }}</h4>
			<ul>
				<li v-for="type in company.types">Требуются <br/>{{ company.max_count }} {{ types[type][1] }}</li>
			</ul>
			<button class="small long" style="float: right;" @click="page = 'searched'">Начать поиск!</button>
		</div>
		<div class="date">осталось<br>{{ days_elapsed }}<br>дня</div>
		<div class="money">{{ money }} р.</div>
	</div>
	
	<div class="computer" v-if="page == 'searched'">
		<div style="padding: 25px 122px;">
			<h3>Изнурительным трудом было найдено 7 потенциальных кандидатов!</h3>
			<button class="small long" style="float: right;" @click="start_sobes">Начать собеседования</button>
		</div>
		<div class="date">осталось<br>{{ days_elapsed }}<br>дня</div>
		<div class="money">{{ money }} р.</div>
	</div>
	
	<div class="computer" v-if="page == 'sobes'">
		<div style="padding: 25px 122px;">
			<h2>Собеседование с {{ men.name }}</h2>
			<ul>
				<li>Указанный навык: {{ men.virtual_experience }}</li>
				<li>Оценка навыка: {{ men.rating_experience }}</li>
			</ul>
			<ul>
				<li v-for="question in men.questions_to"><button class="small long">{{ question.question }}</button></li>
			</ul>
		</div>
		<div class="date">осталось<br>{{ days_elapsed }}<br>дня</div>
		<div class="money">{{ money }} р.</div>
	</div>
</div>
<script>
var companies = require('./companies.js');
var questions = require('./questions.js');

var types = {
	1: ['IT', 'айтишник(ов)'],
	2: ['Бухгалтерия', 'айтишник(ов)'],
	3: ['Маркетинг', 'маркетолог(ов)'],
	4: ['Медицина', 'медик(ов)'],
	5: ['Образование', 'препод(ов)'],
	6: ['Охрана', 'охранник(ов)'],
	7: ['Продажа', 'продажник(ов)'],
	8: ['Строительство', 'строитель(ей)'],
	9: ['Транспорт', 'водитель(ей)'],
	10: ['Юриспруденция', 'юрист(ов)'],
	11: ['Обслуживающий персонал', 'обслуж.персонал(а)'],
};
var positiveParams = {
	1: ["Ответственность", 2],
	2: ["Усидчивость", 2],
	3: ["Трудолюбие", 3],
	4: ["Способность к монотонности", 3],
	5: ["Стрессоустойчивость", 3],
	6: ["Спокойствие", 1],
	7: ["Честность", 1],
	8: ["Порядочность", 1],
	9: ["Компенетность", 2],
	10: ["Доброта", 1],
	11: ["Пунктуальность", 1],
	12: ["Быстра обучаемость", 3],
	13: ["Культура", 1],
};
var negativeParams = {
	1: ["Курение", 2],
	2: ["Алкоголь", 3],
	3: ["Наркотики", 5],
	4: ["Непристойное поведение", 3],
	5: ["Слабое здоровье", 2],
	6: ["Азартные игры", 3],
	7: ["Лень", 1],
	8: ["Агрессивное поведение", 3],
	9: ["Неряшливость", 2],
	10: ["Забывчивость", 1],
};
var names = {
	1: "Николай",
	2: "Валерий",
	3: "Павел",
	4: "Григорий",
	5: "Владислав",
	6: "Кирилл",
	7: "Владимир",
	8: "Ярослав",
	9: "Фёдор",
	10: "Михаил",
	11: "Иннокентий",
};
function getRandomInt(min, max) {
	return Math.floor(Math.random() * (max - min + 1)) + min;
}
function randomMan() {
	var man = {};
	man.name = names[getRandomInt(1, 10)];
	man.negativeParams = getRandomInt(1, 3) == 1 ? [negativeParams[getRandomInt(1, 10)]] : [];
	man.positiveParams = getRandomInt(1, 3) == 1 ? [positiveParams[getRandomInt(1, 13)], positiveParams[getRandomInt(1, 13)]] : [positiveParams[getRandomInt(1, 13)]];
	man.education = getRandomInt(0, 2);
	man.virtual_experience = getRandomInt(3, 5); 
	man.real_experience = getRandomInt(1, 3) == 1 ? getRandomInt(0, 4) : getRandomInt(3, 5);
	man.rating_experience = man.virtual_experience;
	man.questions_to = questions.sort(s => Math.random() - 0.5).slice(0, 3);
	return man;
}
var application = new Vue({
	data: {
		data: 5,
		page: 'start',
		slides: [],
		selected_slide: null,
		difficult: 1,
		
		ubedi: 1,
		intel: 1,
		kovar: 1,
		vinos: 1,
		intui: 1,
		
		free: 12,
		max_free: 12,
		
		days_elapsed: 524,
		
		money: 2500,
		
		internet: false,
		phone: false,
		databases: false,
		social: false,
		direct_phone: false,
		events: false,
		
		names: names,
		types: types,
		
		companies: companies,
		company: companies[0],
		
		mens: [],
		men: null,
	},
	methods: {
		reset() {
			this.ubedi = 1;
			this.intel = 1;
			this.kovar = 1;
			this.vinos = 1;
			this.intui = 1;
			this.max_free = 12 - (this.difficult - 1) * 2;
			this.free = this.max_free;
		},
		to_page(d) {
			this.page = d;
		},
		exit() {
			nw.App.quit();
		},
		to_story() {
			this.page = 'story';
			startSlide(["story-1", "story-2", "story-3", "story-4", "story-5", "story-6", "story-7", "story-8", "story-9"], 3000, "difficult");
		},
		start_sobes() {
			this.mens = [randomMan(), randomMan(), randomMan(), randomMan(), randomMan(), randomMan(), randomMan()];
			this.men = this.mens[0];
			this.page = 'sobes';
		},
	},
});
application.$mount("#app");

function startSlide(arr, interval, to) {
	interval = 100;
	application.slides = arr;
	let index = 0;
	let func = () => {
		application.selected_slide = null;
		//application.$forceUpdate();
		application.selected_slide = [index++];
		if(index > application.slides.length) {
			application.page = to;
			clearInterval(interval);	
		}
	};
	func();
	var interval = setInterval(func, interval);
}

startSlide(["mental-blacksmith", "powered_by", "disclaimer", "ya-recrut"], 2000, "menu");
</script>
</body>
</html>